'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Symbols'
      'submenu': [
        { 'label': 'File Symbols', 'command': 'atom-ruby-ctags:toggle-file-symbols' }
      ]
    ]
  }
]

'context-menu':
  'atom-text-editor': [
    { label: 'Go to Declaration', command: 'atom-ruby-ctags:go-to-declaration' },
    { label: 'Return From Declaration', command: 'atom-ruby-ctags:return-from-declaration' },
    { label: 'Rebuild ctags', command: 'atom-ruby-ctags:rebuild' }
  ]
