'.platform-darwin atom-text-editor':
  'cmd-r': 'atom-ruby-ctags:toggle-file-symbols'
  'cmd-alt-down': 'atom-ruby-ctags:go-to-declaration'
  'cmd-alt-up': 'atom-ruby-ctags:return-from-declaration'

'.platform-win32 atom-text-editor':
  'ctrl-r': 'atom-ruby-ctags:toggle-file-symbols'
  'f12': 'atom-ruby-ctags:go-to-declaration'
  'shift-f12': 'atom-ruby-ctags:return-from-declaration'

'.platform-linux atom-text-editor':
  'ctrl-r': 'atom-ruby-ctags:toggle-file-symbols'
  'ctrl-alt-down': 'atom-ruby-ctags:go-to-declaration'
  'ctrl-alt-up': 'atom-ruby-ctags:return-from-declaration'

'.platform-darwin':
  'cmd-R': 'atom-ruby-ctags:toggle-project-symbols'

'.platform-win32, .platform-linux':
  'ctrl-R': 'atom-ruby-ctags:toggle-project-symbols'
